
.backtotop {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.backtotop a {
  display: inline-block;
  padding: 15px 30px;
  background: pink;
  color: #333;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition:0.3s, color 0.3s;
}

.backtotop a:hover {
  background: deeppink;
  color: #fff;
}

section {
    background-color: transparent;
  }
  
body {
    background: fixed url(/assets/img/winter_aespa_hot_mess_album-wallpaper-3840x1080.jpg);
    
    background-position:top center;
    background-repeat: no-repeat;
}

nav{
    background-image: url(/assets/img/43136636f16bf94193ea96b6a9a8d25b.jpg);
    background-repeat: repeat;
}